params{
    input = null
    output = null
    reference_folder = "/media/HEAP-EPI/stotoshka/references/hg19bs"

    trim_fastq = true
    panel_bed = ""
    conversion_map = ""
    cpg_map = ""
    read_min_len = 120
    min_mapq = 40
    samtools_flags = "-F4"
    hardclipped_threshold = 10
    softclipped_threshold = 15

}

profiles{
    debug{
        params.debug = true //disable telegram notification
    }
    epigenetic{
        conda.enabled = true
        docker.enabled = true
        docker.registry = "eod-tools.med-gen.ru"
        process.executor = "k8s"
        executor.querySize = 8
        k8s.cleanup = true
    }
}

k8s {
    namespace = 'nextflow'               
    storageClaimName = 'heap-epi-nextflow'
    storageMountPath = '/media/HEAP-EPI'
    master = "https://192.168.86.220:6443"
    kubeConfig = "/home/data-epi-svc/.kube/config"
    computeResourceType = 'Job'
    pullPolicy = "Always"
}

process {
    pod = [
        [volumeClaim: 'heap-epi-nextflow', mountPath: '/media/HEAP-EPI']
    ]

    shell = ['/bin/bash', '-euo', 'pipefail']
}

plugins {
  id 'nf-schema@2.6.1'
}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.output}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.output}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.output}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.output}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}
prov {
    enabled = true
    formats {
        bco {
            file = "${params.output}/pipeline_info/manifest_${trace_timestamp}.bco.json"
        }
    }
}
validation {
    help {
        enabled = true
    }
}

mail {
    smtp.auth = true
    smtp.user = 'anton.smirnov.9910@gmail.com'
    smtp.password = secrets.MAIL_PASSWORD
    smtp.host = 'smtp.gmail.com'
    smtp.port = 587 // or 465 for SSL
    smtp.starttls.enable = true // or smtp.ssl.enable for port 465
    smtp.ssl.protocols = 'TLSv1.2'
    smtp.ssl.trust = "*" 
}

manifest {
    name            = 'sotos-align-research-bismarl'
    author          = """Anton S. Smirnov"""
    homePage        = 'https://github.com/SmirnygaTotoshka/sotos_align_research'
    description     = """Methylation analysis pipeline for epigenetic lab, RCMG."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0'
    doi             = "Unknown"
}
